{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": "last 2 versions, ie 11"
    }],
    "@babel/react",
    "@babel/flow"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react", "@babel/flow"]
    }
  }
}
